REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=redis
REDIS_DB_INDEX=0
REDIS_DSN=redis://${REDIS_USER}:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB_INDEX}

ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_DSN=http://${ELASTICSEARCH_HOST}:${ELASTICSEARCH_PORT}/

SERVICE_HOST=fastapi
SERVICE_PORT=8000
SERVICE_DSN=http://${SERVICE_HOST}:${SERVICE_PORT}